<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
                <ul class="nav">
                    <li>
                        <a href="http://ospublish.constantvzw.org/" class="brand">OSP</a>
                    </li>
                    <li class="active">
                        <a href="http://ospublish.constantvzw.org/portfolio/">Portfolio</a>
                    </li>
                    <li>
                        <a href="http://git.constantvzw.org/">Source Files</a>
                    </li>
                    <li>
                        <a href="http://ospublish.constantvzw.org/images/">Snapshots</a>
                    </li>
                    <li>
                        <a href="http://ospublish.constantvzw.org/foundry/">Foundry</a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a href="http://ospublish.constantvzw.org/about">About</a>
                    </li>
                    <li>
                        <a href="http://ospublish.constantvzw.org/contact">Contact</a>
                    </li>
                </ul>
           </div>
    </div>
</div>