<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
                <ul class="nav">
                    <li>
                        <a href="/" class="brand">OSP</a>
                    </li>
                    <li class="active">
                        <a href="/portfolio/">Portfolio</a>
                    </li>
                    <li>
                        <a href="http://git.constantvzw.org/">Source Files</a>
                    </li>
                    <li>
                        <a href="/images/">Snapshots</a>
                    </li>
                    <li>
                        <a href="/foundry/">Foundry</a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
           </div>
    </div>
</div>