<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title>OSP Works {{ work.name }}</title>

<link rel="stylesheet" href="http://ospublish.constantvzw.org/css/type/atfont-face.css" type="text/css" />
<link rel="stylesheet" href="http://ospublish.constantvzw.org/css/osp.bootstrap.css" type="text/css" />

<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/jquery.imagesLoaded.js"></script>
<script type="text/javascript" src="static/portfolio.js"></script>
</head>

<body>
{% include "header.html" %}
<div class="container">
  <div class="row">
    <div class="span4">
    <p><a href="/"><img src="http://ospublish.constantvzw.org/works/files/gimgs/frogy03.gif" /></a></p>

    <p>OSP Works</p>

    {% for year in works %}
    {{ year.year }}
    <ul>
    {% for w in year.works %}
    <li><a href="{{ w.link }}">{{ w.name }}</a></li>
    {% endfor %}
    </ul>
    {% endfor %}


    </div>
    <div class="span8">
    {{ work.body|safe }}

    {% for image in work.images %}
    <div class="image-box"><img src="{{ image.link }}" style="{{ image.width }}px;{{ image.height }}px;" title=></div>
    {% endfor %}
    </div>
  </div>
</div>

</body>
</html>
