<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title> Titre </title>
    <meta name="description" content="page test">
    <meta name="keywords" content="draw me a shadow">
    <meta name="author" content="vous">
    <link rel="stylesheet" type="text/css" media="all" href="styles-start.css" /></style>
   
</head>


<body>

	<div id="iceberg"> 
		<dl>
		<dt><img src='http://git.schr.fr/workshop/pcmmd/thumbnail/latest/iceberg/frederik_command.png' /></dt>

		<dd class= "intitule">please computer | make me design</dd>
		<dt><img src='http://git.schr.fr/workshop/pcmmd/thumbnail/latest/iceberg/frederik_out.png' /></dt>

		<dd class= "intitule">please computer | make me design</dd>
		<dt><img src='http://git.schr.fr/workshop/pcmmd/thumbnail/latest/iceberg/julien_out.jpg' /></dt>

		<dd class= "intitule">please computer | make me design</dd>
		<dt><img src='http://git.schr.fr/workshop/pcmmd/thumbnail/latest/iceberg/osp_out.jpg' /></dt>

		<ddclass= "intitule">please computer | make me design</dd>
		</dl> 
	</div>


</body>
</html>

