<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title> Titre </title>
    <meta name="description" content="page test">
    <meta name="keywords" content="draw me a shadow">
    <meta name="author" content="vous">
    <link rel="stylesheet" type="text/css" media="all" href="reset.css" /></style>
    <link rel="stylesheet" type="text/css" media="all" href="styles-start.css" /></style>

   
</head>


<body>


	<div id="up-side"> 

	<div class="legende-box"> 
		Above the works : portfolio ↓
	</div>

	<div id="iceberg"> 

		<div class="pieces">
			Works
		</div>
			
		<dl>
		<dt><img src='http://git.schr.fr/workshop/pcmmd/thumbnail/latest/iceberg/frederik_command.png' /></dt>

		<dd class= "intitule">please computer | make me design</dd>
		<dt><img src='http://git.schr.fr/workshop/pcmmd/thumbnail/latest/iceberg/frederik_out.png' /></dt>

		<dd class= "intitule">please computer | make me design</dd>
		<dt><img src='http://git.schr.fr/workshop/pcmmd/thumbnail/latest/iceberg/julien_out.jpg' /></dt>

		<dd class= "intitule">please computer | make me design</dd>
		<dt><img src='http://git.schr.fr/workshop/pcmmd/thumbnail/latest/iceberg/osp_out.jpg' /></dt>

		</dl> 
	</div>
	</div>

	<div id="underground">
	
	<div class="legende-box"> 
		Below the works : sources, tools, images, stories ↓
	</div>

	<div id="commit-box"> 
		<div class="pieces">
			Current commit messages
		</div>
			<dl>
			<dt><span class='commit-author'>Stéphanie Vilayphiou</span> <span class='commit-info'>Tue Jan 10 00:07:18 +0100 2012 — from the <a href='http://git.schr.fr/workshop/'>workshop</a> <a href='http://git.schr.fr/workshop/pcmmd/'>please computer | make me design</a></span></dt>
			<dd class='commit-message'>— Merge branch 'master' of git.constantvzw.org:osp.workshop.pcmmd</dd>

			<dt><span class='commit-author'>Stéphanie Vilayphiou</span> <span class='commit-info'>Sun Jan 08 18:40:20 +0100 2012 — from the <a href='http://git.schr.fr/workshop/'>workshop</a> <a href='http://git.schr.fr/workshop/pcmmd/'>please computer | make me design</a></span></dt>
			<dd class='commit-message'>— iceberg</dd>

			<dt><span class='commit-author'>Alexandre Leray</span> <span class='commit-info'>Thu Nov 11 23:15:11 +0100 2010 — from the <a href='http://git.schr.fr/workshop/'>workshop</a> <a href='http://git.schr.fr/workshop/pcmmd/'>please computer | make me design</a></span></dt>
			<dd class='commit-message'>— Merge branch 'master' of http://github.com/aleray/ PleaseMakeMeDesign</dd>

			</dl>


	</div>

	<div id="menu">
		<li>Works</li>
		<li>Foundry</li>
		<li>Workshops</li>
		<li>Tools</li>
		<li>Blog</li>
		<li>Images</li>
		<li>About</li>
		<li>Contact</li>
	</div>

	<object type="image/svg+xml" style="width:60px;height:60px;" data="./pict/OSP_new-frog.svg">
		<img src="./pict/OSP_new-frog.png" style="width:60px;height:60px;" alt="A stylised image of a frog." />
	</object>

	<div id="post-box"> 
	<div class="pieces">
			Blog
	</div>
	<h2 class="post-title"><a href="http://osp.constantvzw.org/news/osp-public-meet-3">OSP Public Meet #3</a></h2>
		<p>The next Osp Public Meet will take place on Monday the 23rd. For this third edition, we will try to precise our exhibitionist experiment of talking internal affairs in public. Here below are the few code lines of the new version. Thank you Sarah Magnan who was with us the past two weeks! 18h00 ¬ [...]</p>
	</div>


	<div id="pict-box"> 
		<div class="pieces">
			Pict
		</div>
			<ul>
				<li>
				<a href="http://osp.constantvzw.org/images/photos/2467">
				<img src="http://osp.constantvzw.org/images/var/thumbs/Morphologic-Workshop-Merz-Akademie/Morphologic%20OSP%20at%20Merz%2001.jpg?m=1337073915" title="Morphologic OSP at Merz 01" alt="Morphologic OSP at Merz 01" />
				</a>
				</li>
		
				<li>
				<a href="http://osp.constantvzw.org/images/photos/2466">
				<img src="http://osp.constantvzw.org/images/var/thumbs/Morphologic-Workshop-Merz-Akademie/Morphologic%20OSP%20at%20Merz%2003_1.jpg?m=1337073906" title="Morphologic OSP at Merz 03 1" alt="Morphologic OSP at Merz 03 1" />
				</a>
				</li>
		
				<li>
				<a href="http://osp.constantvzw.org/images/photos/2465">
				<img src="http://osp.constantvzw.org/images/var/thumbs/Morphologic-Workshop-Merz-Akademie/Morphologic%20OSP%20at%20Merz%2002.jpg?m=1337073890" title="Morphologic OSP at Merz 02" alt="Morphologic OSP at Merz 02" />
				</a>
				</li>
		
				<li>
				<a href="http://osp.constantvzw.org/images/photos/2464">
				<img src="http://osp.constantvzw.org/images/var/thumbs/Morphologic-Workshop-Merz-Akademie/Morphologic%20OSP%20at%20Merz%2006_1.jpg?m=1337073882" title="Morphologic OSP at Merz 06 1" alt="Morphologic OSP at Merz 06 1" />
				</a>
				</li>

			</ul>
	</div>
	</div>


</body>
</html>

