<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" dir="ltr" class="client-nojs" xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>sources</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<!-- <link rel="stylesheet" href="" type="text/css" media="all" /> --> 
<!-- <<style type="text/css" media="all"> --> 
</head>

<body style="text-align: center">

<div style="font-family:Serif; font-size: 11px; line-height: 100%; letter-spacing: 100%">
A bit of text.
</div>

<div style="font-family:Sans-serif; font-size: 7px; line-height: 130%; letter-spacing: 100%">
Sources
</div>

<div style="font-family:Courier New; font-size: 7px; line-height: 60%; letter-spacing: 40%">
·•···•·</br>
·•••·•·</br>
··•····</br>
··••··•</br>
··•····</br>
••·•···</br>
·•</br>
</div>

</body>
</html>