/* --- osp styles --- */ 
 
/* Page */ 
html { 
  font-size: 100%; 
} 

@font-face {
    font-family: lmitalic;
    src: url("./fonts/lmroman10-italic.otf");
}

@font-face {
    font-family: lmroman;
    src: url("./fonts/lmroman10-regular.otf");
}

@font-face {
    font-family: patin;
    src: url("./fonts/OSP_Le-patin-helvete.ttf");
}

@font-face {
    font-family: univers;
    src: url("./fonts/UniversElse-Regular.ttf");
}




body { 
	margin-left: 10px; 
	margin-top: 10px; 
	width: 900px;
	font-family: Sans; 
	font-size: 10px; 
	background-image: url('./pict/iceberg-gouache-1.png');
	background-repeat:no-repeat;
	background-position: 155px 100px;	
} 


.pieces{
	text-align: center; 
	font-family: univers, sans; 
	font-size: 12px;  
	color: black; 
	margin-top:0px;
	padding-bottom: 10px;
	border-bottom: solid 1px blue;
}


/* = legende
-------------------------------------------------------------- */
.legende-box{
	float: top;
	width: 235px;
	height: 9px;
	text-align: right; 
	font-family: lmitalic, serif; 
	font-size: 10px;  
	color: blue; 
}


/* = up
--------------------------------------------------------------
--------------------------------------------------------------*/
#up-side{
	float: left;
	margin-left:30px;
	width: 250px;
	height: 500px;
	border-right: dotted 1px black;
}

#iceberg{
	float: left;
	margin-top: 30px;
	margin-right:15px;
	width: 235px;
}



.iceberg-pict{
	border: solid 1px gray;
}

.intitule{
	text-align: left; 
	font-family: univers, sans; 
	font-size: 12px;  
	color: black; 
	margin-top:10px;
	padding-bottom: 20px;
}


/* = underground
--------------------------------------------------------------
--------------------------------------------------------------*/

#underground{
	float: left;
	width: 600px;
/* 	background: lightsteelblue; */
}


/* = menu
-------------------------------------------------------------- */

#menu{
	float: left;
	margin-top:30px;
	margin-left:60px;
	width: 150px;
	height: 321px;
	font-family: univers; 
	font-size: 12px;
	text-align: left; 
	color: black; 
}

#menu li{
	list-style: none;
}


#menu a:link {
	color:black;
	text-decoration:none;
}

#menu a:hover { 
	color: blue; 
} 

#menu a:visited { 
	color: yellow; 
} 


/* = commit
-------------------------------------------------------------- */
#commit-box{
       float:left;
       width: 250px;
       margin-top: 30px;
       margin-left: 20px;
}

.commit{
       padding-left: 18px;
       line-height: 1.2em;
}

.commit-message{
       text-align: left;
       padding-left: 18px;
       text-indent: -18px;
       font-family: patin, serif;
       margin-top: 5px;
       margin-bottom: 10px;
       font-size: 15px;
       line-height: 1.25em; 
       color: black;
}

.commit-author{
       text-align: left;
       font-family: lmroman, serif;
       font-size: 9px;
       color: black;
       text-transform: uppercase;
       letter-spacing: 0.05em;
       margin-top: 20px;
}

.commit-info{
       text-align: left;
       font-family: lmitalic, serif;
       font-size: 10.5px;
       color: black;
}

.commit-info a{
       color: black;
}


/* = blog
-------------------------------------------------------------- */

#post-box{
	float: left;
	margin-left:30px;
	width: 250px;
	margin-top: 30px;
}

.post-title{
	text-align: left; 
	font-family: lmroman, sans; 
	font-size: 21px;  
	color: black; 
}


.post-title a:link {
	color:blak;
	text-decoration:none;
}

.post-title a:hover { 
	color: blue; 
} 



/* = pictures
-------------------------------------------------------------- */
#pict-box{
	float:left;
	width: 150px;
	margin-top: 30px;
	margin-left: 20px;
}

.pict{
	margin-top: 10px;
}
