/* --- osp styles --- */ 

/* Variables */
@color-background: #5555FF;
@color-link: black;
@font-size-mini :9px;
@font-size-small: 12px;
@font-size-medium: 15px;
@font-size-big: 21px;

 





/* Page */ 
html { 
  font-size: 100%; 
} 

//fonts

@font-face {
    font-family: lmitalic;
    src: url("./fonts/lmroman10-italic.otf");
}

@font-face {
    font-family: lmroman;
    src: url("./fonts/lmroman10-regular.otf");
}

@font-face {
    font-family: patin;
    src: url("./fonts/OSP_Le-patin-helvete.ttf");
}

@font-face {
    font-family: univers;
    src: url("./fonts/UniversElse-Regular.ttf");
}

@font-face {
    font-family: universlight;
    src: url("./fonts/UniversElse-Light.ttf");
}


//default

body { 
	margin-top: 10px; 
	font-family: "univers"; 
	font-size: 12px; 
	line-height: 1.2;
	color: black;
} 

a {
    color: @color-link;
    text-decoration:none;
}


dt {
       letter-spacing: 0.05em;
       font-family: lmroman, serif; 
       font-size: @font-size-small;
}



///////// active pieces /////////

#active-projects{
	float: left;
	margin-top:15px;
	margin-left:20px;
	width: 80%;
// 	height: 321px;
// 	background:blue;
}


// project box -------------------------------------------------

.project{
	float: left;
	width: 250px;
	margin-right: 20px;
// 	background:yellow;
}

.project-type{
	font-family: universlight, sans; 
	text-transform: uppercase;
	font-size: @font-size-mini; 
	text-align: center; 
	line-height: 13px;
	letter-spacing: 0.05em;
	margin-top:10px;
	padding-bottom: 10px;
}

.project-title{
	height: 12px;
	font-family: lmroman, serif; 
	font-size: @font-size-medium;  
	text-align: left; 
	margin-bottom: 10px;
	margin-left: 10px;
}


//iceberg pictures -------------------------------------------------

.iceberg{
	float: center;
	margin-right:15px;
	width: 250px;
// 	background:green;
}

.iceberg-pict{
	border: solid 1px gray;
	width:100px;
}


// commit -------------------------------------------------
 
.commit-list{
       float:left;
       width: 250px;
//        background:grey;
}

.grappe{
	border: solid 1px;
	padding : 5px 5px 5px 5px;
	margin-bottom: -1px;
	margin-right: -1px;
	
}

.commit{
       padding-left: 18px;
       line-height: 1.2em;
       margin-top: 20px;
}

.commit-author{
	text-transform: uppercase;
	font-family: lmroman, serif;
	letter-spacing: 0.05em;
	font-size: @font-size-small;
	.grappe;
}

.commit-author-said{
	text-transform: none;
	font-family: lmroman, serif;
	letter-spacing: 0.05em;
	font-size: @font-size-small; 
	border:solid 1px;
	.grappe;
}

.commit-message{
       padding-left: 18px;
       text-indent: -18px;
       font-family: patin, serif;
       margin-top: 5px;
       font-size: 14px;
       line-height: 1.3em; 
       border:solid 1px;
}

.commit-message:before{
	content: "— ";
	
}

.commit-date{
	font-family: lmitalic, serif;
	font-size: @font-size-small; 
	margin-left: 18px;
	border:solid 1px;

}

.commit-source {
    font-size: @font-size-small;
       margin-left: 18px;
}




///////// menu /////////

#menu{
	float: left;
	margin-top:15px;
	margin-left:10px;
	height: 321px;
	font-size: @font-size-small; 
	text-align: left; 
	color: black; 
}

#menu li{
	list-style: none;
	font-family: universlight, serif;

}


#menu a:link {
	color: @color-link; 
	text-decoration:none;
}

#menu a:hover { 
	color: blue; 
} 

#menu a:visited { 
	color: @color-link; 
}